body{
    height: 2000px;
}

.sans{
    font-family:serif;
    font-weight: bolder;
}
.pf{
    font-size:1.2em;
}
.h2{
    font-size:3.5em;
}
.overlay{
    background-color: rgba(0, 0,0,.8);
    widows: 100%;
    height: 100%;
}
/*header*/
header{
    background-image: url(images/action-blur-bulb-dark-355904.jpg);
    height:600px;
    background-position: center;
    background-size:cover;
}
.header-info{
    margin-top:150px;
}
header h1{
    font-size:4em;
}
header .navbar-brand{
    font-size: 1.9rem;
}
header li{
    font-size:1.5em;
    padding:5px 1em;
}

/*features*/
.features{
    padding:50px 0;
}
.features h2{
    font-family: serif;
    font-size: 3em;
}

/*goal*/
.goal{
    background-image:url("images/sunset-beach-people-sunrise-40815.jpg");
    background-attachment: fixed;
    background-size: cover;
    height:300px;
}
.goal h2{
    font-size:3em;
}
/*contact us*/
.contactus{
    padding:60px 0;
}
.contactus input{
  width:49%;
  margin:0;
}
.contactus input:last-of-type{
    margin-left:10px;
}

/*travel*/
.travel{
    background: url("images/android-android-phone-cell-phone-cellphone-404280.jpg");
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.img-zoom{
    overflow: hidden;
    height:300px;
    padding:0;
}
 .img-zoom img{
    transition: transform 1s;
    width:100%;
    height: 100%;


}
.travel .img-zoom img:hover{
    transform: scale(1.5);
    cursor: pointer;
}

/* Services */

/* ourobjective */
.ourobjective{

    background:url("images/architecture-boats-buildings-canal-417344.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-position: bottom;
    height:700px;
}
.ourobjective .overlay{
    padding:50px 0 100px;
    background-color: rgba(0, 0,0,.3);
}
.ourobjective p{
    padding:0 20%;
}
.ourobjective img{
    color:green;
}
.ourobjective .row div{
    position: relative;
}
.ourobjective .row h4{
    position:absolute;
    top:90px;
    left:150px
}
/* footer */
footer{
    padding:10px 0;
    background-color: dimgrey;
    color: aliceblue;
}
